body{
    border: 0px;
    margin: 0px;
}


.contenedor{
    display: block;
    position:fixed;
    box-sizing: content-box;
    width: 100%;
    border: 10px;
    padding: 5px;
    background-color: brown;
    
   

}
.titulo{
    color: black;
    font-style: italic;
    text-align: center;

}
.links{
    display: flex;
    padding: 10px; 
    gap: 10px;
    flex-wrap: wrap;
    justify-content:space-around;
}
   
.links a {
    color: black ;

}

.contenedorSectionPeliculas{
    padding: 20px;
    background-color: white;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 2px solid #e41d1a;
    padding-bottom: 5px;
}

.tituloPeliculas{
    color: rgb(25, 26, 26);
}

.peliculas{
display: grid;
grid-template-columns: 1fr 1fr 1fr; 
padding: 10px; 
gap: 10px;
background-color: rgb(243, 234, 234); 
}
.peliculas article{
    background-color: darkgoldenrod;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: left;

} 

.peliculas article img{
    width: 100px;
    border-radius: 8px;
    margin-bottom: 10px;

}
.peliculas article h3{
    font-size: 1.2em;
    color : rgb(7, 7, 7);
    margin : 10px 0;
}

.peliculas article p {
font-size: 0.9em;
color: aquamarine;
}

.peliculas article .clasificacion{
    display: block;
    font-size: 0.8em;
    margin-top: 10px;
    padding: 5px;
    background-color: bisque;
    color: rgb(46, 59, 55);
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

/*
CSS 
*/
.actores {
    background-color: black;
    color: white;
}

.actores>h2 {
    justify-self: center;
}

.actores>div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0px;
}

.actores>div>div {
    justify-items: center;
    
}

.actores>div>div>img {
    border-radius: 50%;
}

.festivales-y-series {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.festivales {
    background-color: pink;
    padding: 0px 30px;
}

.festivales>h2 {
    justify-self: center;
}

.festivales>div {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.series>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.series>h2 {
    justify-self: center;
}
